<ul id="menu">

  <li><%= link_to "Home", "/" %>
  <div class="dropdown_2columns"><!-- Begin 2 columns container -->
    <div class="col_2">
      <h2>About me:</h2>
    </div>
    <div class="col_2">
      <p>My name is JD Warren and I build things. Here are a few publications that I have been in:</p>
      <p><a href="http://www.make-digital.com/make/vol22#pg1">Make Magazine 22</a></p>
      <p><a href="http://www.uab.edu/uabmagazine/fall2010/departments/alumni">UAB alumni magazine</a></p>
      <p><a href="http://www.wired.com/magazine/2011/03/ff_makestuff_projects/">Wired Magazine - 21 Awesome Hacks (#18)</a></p>
      <p><a href="http://www.amazon.com/Arduino-Robotics-John-David-Warren/dp/1430231831">Arduino Robotics (my new book)</a></p>
      <p>And a few videos:</p>
      <p><a href="http://blog.makezine.com/archive/2011/07/the-latest-in-arduino-episode-2.html">MAKE: Latest in Arduino (02)</a></p>
      <p><a href="http://www.youtube.com/watch?v=uhDou04jj7Q">MAKE: Latest in Arduino (03)</a></p>
    </div>
    <div class="col_2">
      <h2>Website focus:</h2>
    </div>
    <div class="col_2">
      <p>This website was created to help others find cheaper, easier, or better ways of building robotics projects, understanding electronics, and anything else I find that might be helpful to post on here.</p>
    </div>
  </div><!-- End 2 columns container -->
  </li><!-- End Home Item -->


  <li><%= link_to "Projects", projects_path, :class => "drop" %><!-- Begin 3 columns Item -->
  <div class="dropdown_3columns"><!-- Begin 3 columns container -->
    <div class="col_3">
      <h2>Project Categories</h2>
    </div>
    <div class="col_1">
      <ul class="greybox">
        <li><a href="#">robots</a></li>
        <li><a href="#">remote control</a></li>
        <li><a href="#">automation</a></li>
        <li><a href="#">utility</a></li>
      </ul>   
    </div>
    <div class="col_1">
      <ul class="greybox">
        <li><a href="#">carpentry</a></li>
        <li><a href="#">electrical</a></li>
        <li><a href="#">plumbing</a></li>
        <li><a href="#">painting</a></li>
      </ul>   
    </div>
    <div class="col_1">
      <ul class="greybox">
        <li><a href="#">audio/video</a></li>
        <li><a href="#">fiberglass</a></li>
        <li><a href="#">garden</a></li>
        <li><a href="#">farming</a></li>
      </ul>   
    </div>

    <div class="col_3">
      <h2>Most popular projects</h2>
    </div>



    <div class="col_3">
      <% if !@featured_articles.nil? %>
        <% @featured_articles.each do |article| %>
          <div class="menu_project">
            <div class="menu_project_image">
              <%= link_to image_tag(article.images.first.attachment.url(:thumb), :class => "imgshadow"), article_path(article) %>
            </div>
            <div class="menu_project_text">
              <b><u><%= article.title.html_safe %></u></b>:
              <%=h truncate(article.content.html_safe, :length => 180) %>
            </div>
          </div>
          <hr>
        <% end %>
      <% end %>
      <center><%= link_to "view all projects", projects_path %></center>
    </div>

  </div><!-- End 3 columns container -->
  </li><!-- End 3 columns Item -->



  <li><%= link_to "Store", products_path %>
  <div class="dropdown_1column">
    <div class="col_1">
      <ul class="simple">
        <li><a href="#">Arduinos</a></li>
        <li><a href="#">Robot kits</a></li>
        <li><a href="#">Motor-controllers</a></li>
        <li><a href="#">Misc</a></li>
      </ul>
    </div>
  </div>
  </li>


  <li><a href="#" class="drop">Links</a>
  <div class="dropdown_4columns">
    <div class="col_1">
      <h3>My Links</h3>
      <ul>
        <li><a href="http://www.instructables.com/member/johndavid400/">My Instructables</a></li>
        <li><a href="https://github.com/johndavid400">My Github</a></li>
        <li><a href="http://www.youtube.com/user/johndavid400">My Youtube channel</a></li>
        <li><a href="http://rediculouslygoodlooking.com/">My old website</a></li>
      </ul>   
    </div>
    <div class="col_1">
      <h3>Favorite Links</h3>
      <ul>
        <li><a href="http://hackaday.com/">Hackaday</a></li>
        <li><a href="http://reddit.com/">reddit</a></li>
        <li><a href="http://www.instructables.com/">Instructables</a></li>
        <li><a href="http://arduino.cc">Arduino</a></li>
      </ul>   
    </div>
    <div class="col_1">
      <h3>Helpful</h3>
      <ul>
        <li><a href="http://www.sparkfun.com">Sparkfun</a></li>
        <li><a href="http://www.adafruit.com/tutorials">LadyAda</a></li>
        <li><a href="http://www.dannyg.com/examples/res2/resistor.htm">Resistor Colors</a></li>
        <li><a href="http://www.willingtons.com/mymac/ohm_calc.htm">Ohm Calculator</a></li>
      </ul>   
    </div>
    <div class="col_1">
      <h3>Suppliers</h3>
      <ul>
        <li><a href="http://www.digikey.com/">Digikey</a></li>
        <li><a href="http://www.radioshack.com/home/index.jsp">Radio Shack</a></li>
        <li><a href="http://www.seeedstudio.com/depot/">Seeed Studio</a></li>
        <li><a href="http://www.ebay.com">Ebay</a></li>
      </ul>   
    </div>
  </div><!-- End 4 columns container -->
  </li><!-- End 4 columns Item -->



  <li><a href="#" class="drop">Site</a><!-- Begin 5 columns Item -->
  <div class="dropdown_5columns"><!-- Begin 5 columns container -->
    <div class="col_5">
      <h2>This is an example of a large container with 5 columns</h2>
    </div>
    <div class="col_1">
      <p class="black_box">This is a dark grey box text. Fusce in metus at enim porta lacinia vitae a arcu. Sed sed lacus nulla mollis porta quis.</p>
    </div>
    <div class="col_1">
      <p>Phasellus vitae sapien ac leo mollis porta quis sit amet nisi. Mauris hendrerit, metus cursus accumsan tincidunt.</p>
    </div>
    <div class="col_1">
      <p class="italic">This is a sample of an italic text. Consequat scelerisque. Fusce sed lectus at arcu mollis accumsan at nec nisi porta quis sit amet.</p>
    </div>
    <div class="col_1">
      <p>Curabitur euismod gravida ante nec commodo. Nunc dolor nulla, semper in ultricies vitae, vulputate porttitor neque.</p>
    </div>
    <div class="col_1">
      <p class="strong">This is a sample of a bold text. Aliquam sodales nisi nec felis hendrerit ac eleifend lectus feugiat scelerisque.</p>
    </div>
    <div class="col_5">
      <h2>Here is some content with side images</h2>
    </div>
    <div class="col_3">
      <img src="img/01.jpg" width="70" height="70" class="img_left imgshadow" alt="" />
      <p>Maecenas eget eros lorem, nec pellentesque lacus. Aenean dui orci, rhoncus sit amet tristique eu, tristique sed odio. Praesent ut interdum elit. Sed in sem mauris. Aenean a commodo mi. Praesent augue lacus.<a href="#">Read more...</a></p>
      <img src="img/02.jpg" width="70" height="70" class="img_left imgshadow" alt="" />
      <p>Aliquam elementum felis quis felis consequat scelerisque. Fusce sed lectus at arcu mollis accumsan at nec nisi. Aliquam pretium mollis fringilla. Nunc in leo urna, eget varius metus. Aliquam sodales nisi.<a href="#">Read more...</a></p>
    </div>
    <div class="col_2">
      <p class="black_box">This is a black box, you can use it to highligh some content. Sed sed lacus nulla, et lacinia risus. Phasellus vitae sapien ac leo mollis porta quis sit amet nisi. Mauris hendrerit, metus cursus accumsan tincidunt.Quisque vestibulum nisi non nunc blandit placerat. Mauris facilisis, risus ut lobortis posuere, diam lacus congue lorem, ut condimentum ligula est vel orci. Donec interdum lacus at velit varius gravida. Nulla ipsum risus.</p>
    </div>
  </div><!-- End 5 columns container -->
  </li><!-- End 5 columns Item -->

</ul>

