%h1 Projects

- if !current_user.nil?
  .new_project
    = link_to "New Project", new_project_path

.projects
  - @projects.each do |project|
    .project_image
      = if !project.images.empty? 
        = image_tag project.images.first.attachment.url(:medium), :class => "project_image"
    .project_content
      %p
      = project.name
      %p
      = project.type
      %p
      = project.microcontroller
      %p
      = project.build_time
      %p
      = project.website
      %p
      = project.cost
      %p
      = project.sensors
      %p
      = project.weight
      %p
      = project.motors
      %p
      = project.drive_type
      %p

